RPi.GPIO~=0.7.1
pillow~=11.3.0
requests~=2.28.2
#backports.zoneinfo~=0.2.1;python_version<"3.9" -- needed only for Python < 3.9
#IT8951~=0.1.0 -- is not in Pip, needs to be installed locally
BME680~=2.0.0
libtado==4.0.1